
{% extends "header.html" %}
{% block content %}
{% load static %}

	<!-- //header -->
	<!-- banner -->
	<div class="banner inner-banner">
		<div class="header-nav"><!-- header-three -->
			<nav class="navbar navbar-default">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						Menu
					</button>
				</div>
				<!-- top-nav -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="/" data-hover="HOME">Home</a></li>
						<li><a href="/login/" >Sign In</a></li>

						<li><a href="/Customer_register/" >Customer Registration </a></li>
					<li><a href="/emi_calculation/"  class="active">EMI Calculator </a></li>
                    <li><a href="/loan/" >Loan  </a></li>
					</ul>
					<div class="clearfix"> </div>
				</div>
			</nav>
		</div>
		<!-- banner-text -->
		<!-- banner -->
	</div>
			<div class=" w3ls-section" id="inner-about">
				<div class="container">
					<h3 class="h3-w3l">EMI Calculator</h3>
					<!-- about bottom-->
					<div class="about-bottom w3l_contact_form ">


							<form method="post" action="/Emi_calculator/" method="post" id="myform">
								{% csrf_token %}
							 <div class="col-sm-4">
								<div class="form-group">
									<span><label>Principal Amount</label></span>
									<span><input name="pa" type="text" class="form-control"></span>
								</div>
								</div>
								<div class="col-sm-4">
								<div class="form-group">
									<span><label>Annual percentage rate</label></span>
									<span><input name="apr" type="text" class="form-control"></span>
								</div>
								</div>
								<div class="col-sm-4">
									<div class="form-group">
										<span><label>Term - No. of Months</label></span>
										<span><input name="trm" type="text" class="form-control"></span>
									</div>
									</div>

									<div class="col-sm-12"  style="text-align: center; margin-bottom: 10px;"><div>
										<span><input type="submit" value="Submit" class="myButton"></span>
							   </div></div>
                            </form>
                            <script src="{% static 'assets/Validation/jquery-1.11.1.min.js' %}"></script>
						<script src="{% static 'assets/Validation/jquery_validate.js' %}"></script>
						<script src="{% static 'assets/Validation/additional_validate.js' %}"></script>
<script>
	(function ($, W, D)
  {
  var JQUERY4U = {};
  JQUERY4U.UTIL =
      {
          setupFormValidation: function ()
          {
            $.validator.addMethod(
    "regex",
    function(value, element, regexp) {
        var check = false;
        return this.optional(element) || regexp.test(value);
    },
    "Not a valid Input."
);

          //form validation rules
          $("#myform").validate({
			ignore: [],
			rules: {
								pa: {
								  required: true,
                                  number: true,
                                  max:25000000,
                                  min:10000,

								},
								apr: {
								  required: true,
                                  number: true,
                                  max:24,
                                  min:4,
								},
								trm: {
									required: true,
                                    number: true,
                                    max:660,
                                    min:12,
								},

							  },
							  messages: {



              },
              submitHandler: function (form) {
              form.submit();
              }
          });
        }
      }
  //when the dom has loaded setup form validation rules
  $(D).ready(function ($) {
      JQUERY4U.UTIL.setupFormValidation();
  });
  })(jQuery, window, document);
</script>
							</div>

<div class="">  {{df|safe}}</div>



						<div class="clearfix"> </div>
					</div>
				</div>
					<!-- //about-bottom -->
			</div>
			{% endblock %}