
{% extends "Customer/header.html" %}
{% block content %}
{% load static %}
<script>
   $(function () {
        $("input[name='chkPassPort']").click(function () {
            if ($("#chkYes").is(":checked")) {
                $("#txtPassportNumber").removeAttr("disabled");
                $("#txtPassportNumber").focus();
            } else {
                $("#txtPassportNumber").attr("disabled", "disabled");
            }
        });
    });
</script>
	<!-- //header -->
	<!-- banner -->

			<div class=" w3ls-section" id="inner-about">
				<div class="container">

					<h3 class="h3-w3l">Personal Loan Application Form </h3>
					<div class="about-bottom w3l_contact_form ">


								<div class="col-sm-12">

                                    {% if messages %}
                                    <ul class="messages">
                                        {% for message in messages %}
                                      <div class="alert alert-danger"> {{message }}</div>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}


                                    <!-- about bottom-->
                                    <div class="about-bottom w3l_contact_form ">

                                        <form method="post" action="/save_personal_loan/" method="post" id="myform" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="col-sm-6">

											<div class="form-group">
												<span><label>6 Months Bank Ac Statement(PDF)</label></span>
											   <span><input name="bank_statement" id="bank_statement" type="file" class="form-control"></span>
											  </div>


                                            <div class="form-group">
                                              <span><label>Purpose</label></span>
                                             <span><input name="purpose" id="purpose" type="text" class="form-control"></span>
                                            </div>
                                            <div class="form-group">
												<span><label>Salary Slip</label></span>
											   <span><input name="salary_slip" id="salary_slip" type="file" class="form-control"></span>
											  </div>


                                        </div>
                                        <div class="col-sm-6">


                                              <div class="form-group">
                                                <span><label>Amount</label></span>
												<span><input name="amount" id="amount" type="text" class="form-control"></span>
                                            </div>
                                            <div class="form-group">
                                                <span><label>Tenure</label></span>
												<span><input name="tenure" id="tenure" type="text" class="form-control"></span>
                                            </div>
                                          </div>

                                          <div class="col-sm-12"  style="text-align: center;margin: 4px;"><div>
                                            <span><input type="submit" value="Submit" class="myButton"></span>
                                   </div></div>
                                        </form>


<link href="{% static 'assets/jquery/jquery-ui.css' %}" rel="stylesheet" type="text/css"  />

<script type="text/javascript" src="{% static 'assets/jquery/jquery-ui.js' %}"></script>

<script type="text/javascript" src="{% static 'assets/jquery/jquery.js' %}"></script>
<script>
$(function() {


	$( "#dob" ).datepicker({ dateFormat: 'yy-mm-dd', changeMonth: true,
changeYear: true,minDate:'0', });


  });</script>

<script src="{% static 'assets/Validation/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'assets/Validation/jquery_validate.js' %}"></script>
<script src="{% static 'assets/Validation/additional_validate.js' %}"></script>
<script>

(function ($, W, D)
{
var JQUERY4U = {};
JQUERY4U.UTIL =
{
setupFormValidation: function ()
{
$.validator.addMethod(
"regex",
function(value, element, regexp) {
var check = false;
return this.optional(element) || regexp.test(value);
},
"Not a valid Input."
);

//form validation rules
$("#myform").validate({
ignore: [],
rules: {

    bank_statement: {
		  required: true,

		},
        purpose:
        {
            required: true,
            regex :/^[a-zA-Z ]+$/,
        },

        salary_slip: {
                                        required: true,

                                    },


        amount: {
		  required: true,
          number:true

		},
        tenure: {
		  required: true,
          number:true,
          max:5

		},

	  },
	  messages: {
        phone: "Please Enter Valid 10 digit Phone Number - Starting from 6, 7 or 8 or 9",


},
errorPlacement: function(error, element) {
            error.appendTo( element.parent() );
        },
submitHandler: function (form) {
form.submit();
}
});
}
}
//when the dom has loaded setup form validation rules
$(D).ready(function ($) {
JQUERY4U.UTIL.setupFormValidation();
});
})(jQuery, window, document);
</script>
               </div>



						<div class="clearfix"> </div>
					</div>
				</div>
					<!-- //about-bottom -->
			</div>
			{% endblock %}