
{% extends "Customer/header.html" %}
{% block content %}
{% load static %}
<script>
   $(function () {
        $("input[name='chkPassPort']").click(function () {
            if ($("#chkYes").is(":checked")) {
                $("#txtPassportNumber").removeAttr("disabled");
                $("#txtPassportNumber").focus();
            } else {
                $("#txtPassportNumber").attr("disabled", "disabled");
            }
        });
    });
</script>
	<!-- //header -->
	<!-- banner -->

			<div class=" w3ls-section" id="inner-about">
				<div class="container">

					<h3 class="h3-w3l">Vehicle loan Application list </h3>
					<div class="about-bottom w3l_contact_form ">


								<div class="col-sm-12">

                                    {% if messages %}
                                    <ul class="messages">
                                        {% for message in messages %}
                                      <div class="alert alert-danger"> {{message }}</div>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                    {% if data %}
                                    <table class="table table-striped table-bordered">
<thead class="alert-danger"><th>Id</th><th>Vehicle Type</th><th>Manufacture</th><th>Model</th><th>Supplier</th><th>cost</th><th>Down payment</th><th>Tenure</th><th>Status</th></thead>

                                        {%  for k in data  %}

                                          <tr>


                                                <td>{{forloop.counter}}</td>
                                                <td>{{k.vehicle_type}}</td>
                                                <td>{{k.manufacture }}</td>
                                                <td>{{k.vmodel}}</td>
                                                <td>{{k.Supplier}}</td>
                                                <td>{{k.cost}}</td>
                                                <td>{{k.dpayment}}</td>
                                                <td>{{k.tenure }}</td>
                                                {% if k.status == 'Allowed' %}
                                                <td style="background-color: bisque;">Status : {{k.status}}<br>
                                                    Allowed Amount : {{k.allowed_loan_amount }}<br>

                                                    Dispersal Date : {{k.dispersal_date  }}<br>
                                                    Interest Rate : {{k.interest_rate}}<br>
                                                </td>
                                                {% else %}
                                                <td>{{k.status}}</td>

                                                {% endif %}



                                            </tr>

                                            {% endfor  %}
                                            {% else %}
                                            <div class="alert alert-success"> No List Available</div>
                                            {% endif %}

        </table>

                                    <!-- about bottom-->
                                    <div class="about-bottom w3l_contact_form ">


               </div>



						<div class="clearfix"> </div>
					</div>
				</div>
					<!-- //about-bottom -->
			</div>
			{% endblock %}